/* line 6, sass/modules/normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 10, sass/modules/normalize.sass */
audio, canvas, video {
  display: inline-block;
}

/* line 13, sass/modules/normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 21, sass/modules/normalize.sass */
[hidden] {
  display: none;
}

/* line 27, sass/modules/normalize.sass */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 36, sass/modules/normalize.sass */
body {
  margin: 0;
}

/* line 44, sass/modules/normalize.sass */
a:focus {
  outline: thin dotted;
}
/* line 48, sass/modules/normalize.sass */
a:active, a:hover {
  outline: 0;
}

/* line 55, sass/modules/normalize.sass */
h1 {
  font-size: 2em;
}

/* line 59, sass/modules/normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 63, sass/modules/normalize.sass */
b, strong {
  font-weight: bold;
}

/* line 67, sass/modules/normalize.sass */
dfn {
  font-style: italic;
}

/* line 71, sass/modules/normalize.sass */
mark {
  background: yellow;
  color: black;
}

/* line 76, sass/modules/normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 81, sass/modules/normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 87, sass/modules/normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 91, sass/modules/normalize.sass */
small {
  font-size: 80%;
}

/* line 95, sass/modules/normalize.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 101, sass/modules/normalize.sass */
sup {
  top: -0.5em;
}

/* line 104, sass/modules/normalize.sass */
sub {
  bottom: -0.25em;
}

/* line 111, sass/modules/normalize.sass */
img {
  border: 0;
}

/* line 115, sass/modules/normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 122, sass/modules/normalize.sass */
figure {
  margin: 0;
}

/* line 129, sass/modules/normalize.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 134, sass/modules/normalize.sass */
legend {
  border: 0;
  padding: 0;
}

/* line 141, sass/modules/normalize.sass */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 152, sass/modules/normalize.sass */
button, input {
  line-height: normal;
}

/* line 155, sass/modules/normalize.sass */
button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 164, sass/modules/normalize.sass */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 168, sass/modules/normalize.sass */
input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
/* line 175, sass/modules/normalize.sass */
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 185, sass/modules/normalize.sass */
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 189, sass/modules/normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 193, sass/modules/normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 204, sass/modules/normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
 *   Base styles: opinionated defaults
 *   ========================================================================== */
/* line 13, sass/modules/html5bp.sass */
html,
button,
input,
select,
textarea {
  color: #222222;
}

/* line 21, sass/modules/html5bp.sass */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 32, sass/modules/html5bp.sass */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 37, sass/modules/html5bp.sass */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* A better looking default horizontal rule
 */
/* line 46, sass/modules/html5bp.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 59, sass/modules/html5bp.sass */
img {
  vertical-align: middle;
}

/* Remove default fieldset styles.
 */
/* line 67, sass/modules/html5bp.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Allow only vertical resizing of textareas.
 */
/* line 76, sass/modules/html5bp.sass */
textarea {
  resize: vertical;
}

/* ==========================================================================
 * Chrome Frame prompt
 * ========================================================================== */
/* line 84, sass/modules/html5bp.sass */
.chromeframe {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}

/* ==========================================================================
 * Helper classes
 * ========================================================================== */
/* Image replacement
 */
/* line 100, sass/modules/html5bp.sass */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
/* line 106, sass/modules/html5bp.sass */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 117, sass/modules/html5bp.sass */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 125, sass/modules/html5bp.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 141, sass/modules/html5bp.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout
 */
/* line 153, sass/modules/html5bp.sass */
.invisible {
  visibility: hidden;
}

/* Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 169, sass/modules/html5bp.sass */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 174, sass/modules/html5bp.sass */
.clearfix:after {
  clear: both;
}

/* For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 183, sass/modules/html5bp.sass */
.clearfix {
  *zoom: 1;
}

/*Colors*/
/*---------------- Global Styles Start --------------- */
/* line 8, sass/screen.sass */
body {
  color: #313e48;
  font-family: "Open Sans", sans-serif;
}
/* line 12, sass/screen.sass */
body.open {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

/* line 18, sass/screen.sass */
.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
.container::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 23, sass/screen.sass */
a {
  color: #25cbd3;
  text-decoration: none;
}
/* line 27, sass/screen.sass */
a.color-btn {
  color: white;
  text-decoration: none;
  background-color: #e28330;
  padding: 15px 15px;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  text-shadow: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
/* line 41, sass/screen.sass */
a.color-btn:hover {
  background-color: #ff912e;
}

/* line 44, sass/screen.sass */
p {
  font-size: 14px;
  font-weight: 500;
}
/* line 47, sass/screen.sass */
p.featured {
  font-size: 16px;
}

/* line 50, sass/screen.sass */
.content {
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
}
/* line 55, sass/screen.sass */
.content h2 {
  font-size: 36px;
  font-weight: 500;
}
/* line 59, sass/screen.sass */
.content h3 {
  font-size: 16px;
  font-weight: 600;
}

/* line 65, sass/screen.sass */
.top-content {
  padding-bottom: 30px;
}

/* line 68, sass/screen.sass */
.middle-content {
  overflow: hidden;
  *zoom: 1;
  color: white;
  background-color: #313e48;
  padding-top: 10px;
  padding-bottom: 45px;
  text-align: center;
}

/*---------------- Global Styles End --------------- */
/*---------------- Header Styles Start --------------- */
/* line 83, sass/screen.sass */
#main-header .container {
  height: 50px;
}

/* line 86, sass/screen.sass */
#mobile-menu-icon {
  width: 20%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-size: 24px;
  font-weight: bold;
  padding: 13px 0;
  color: #c3c5c8;
}
/* line 93, sass/screen.sass */
#mobile-menu-icon.open {
  color: #e28330;
}

/* line 96, sass/screen.sass */
.social-media {
  text-align: center;
}
/* line 98, sass/screen.sass */
.social-media img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

/* line 103, sass/screen.sass */
.copyright {
  text-align: center;
}

/* line 106, sass/screen.sass */
#branding {
  width: 45%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
/* line 108, sass/screen.sass */
#branding a {
  display: block;
  text-align: center;
}
/* line 111, sass/screen.sass */
#branding a img {
  padding: 12px 0;
  width: 66.92px;
  height: 25px;
  margin: 0 auto;
}

/* line 117, sass/screen.sass */
#main-menu {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: white;
  top: 50px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
/* line 127, sass/screen.sass */
#main-menu .menu-container {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 120px;
  overflow: auto;
}
/* line 134, sass/screen.sass */
#main-menu ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
}
/* line 142, sass/screen.sass */
#main-menu .header-menu li {
  padding: 10px;
}
/* line 144, sass/screen.sass */
#main-menu .header-menu li.current_page_item {
  background-color: #e28330;
}
/* line 146, sass/screen.sass */
#main-menu .header-menu li.current_page_item a {
  color: white;
}
/* line 148, sass/screen.sass */
#main-menu .header-menu li a {
  text-transform: uppercase;
  color: #313e48;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
/* line 154, sass/screen.sass */
#main-menu footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

/* line 160, sass/screen.sass */
.header-image .content-wrapper {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  color: white;
}
/* line 167, sass/screen.sass */
.header-image .content-wrapper h2 {
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  text-shadow: 0px 2px 1px #3c3c3c;
}
/* line 175, sass/screen.sass */
.header-image .content-wrapper p {
  width: 70%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-right: 27.5%;
}

/*---------------- Header Styles End --------------- */
/*---------------- Footer Styles Start --------------- */
/* line 184, sass/screen.sass */
footer {
  font-size: 12px;
}
/* line 186, sass/screen.sass */
footer .inner {
  padding: 30px 0;
}
/* line 188, sass/screen.sass */
footer ul {
  padding: 0;
  margin: 0;
  font-size: 0;
}
/* line 192, sass/screen.sass */
footer ul li {
  font-size: 12px;
  display: inline;
  padding: 0 6px;
  border-right: 1px solid #313e48;
}
/* line 197, sass/screen.sass */
footer ul li:last-child {
  border: none;
}

/* line 200, sass/screen.sass */
.footer-left {
  text-align: center;
}

/* line 203, sass/screen.sass */
.ticker {
  height: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #e89c59;
  white-space: nowrap;
  z-index: 100;
}
/* line 213, sass/screen.sass */
.ticker .title {
  display: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 30px;
  box-sizing: border-box;
  height: 100%;
  background-color: #e28330;
  position: absolute;
  left: 0;
  z-index: 10;
}
/* line 225, sass/screen.sass */
.ticker ul {
  display: inline;
  position: relative;
  top: 8px;
  white-space: nowrap;
  list-style-type: none;
  z-index: 5;
}
/* line 233, sass/screen.sass */
.ticker ul li {
  display: inline;
  color: white;
  font-size: 14px;
  padding: 10px 50px;
  height: 100%;
}
/* line 240, sass/screen.sass */
.ticker .controls {
  width: 50px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #e28330;
  z-index: 10;
}
/* line 249, sass/screen.sass */
.ticker .controls.pause {
  background-image: url(../img/ui/ticker_pause.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
}
/* line 255, sass/screen.sass */
.ticker .controls.play {
  background-image: url(../img/ui/ticker_play.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
}

/*---------------- Footer Styles End --------------- */
/*---------------- Home Page Start --------------- */
/* Slider */
/* line 269, sass/screen.sass */
.flexslider {
  margin-bottom: 30px;
}
/* line 273, sass/screen.sass */
.flexslider .slides li {
  height: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
}
/* line 281, sass/screen.sass */
.flexslider .slides .content-wrapper {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 45px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 292, sass/screen.sass */
.flexslider .slides .content-wrapper .slider-content {
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0px 2px 1px #3c3c3c;
  position: relative;
}
/* line 299, sass/screen.sass */
.flexslider .slides .content-wrapper .slider-content h2 {
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  text-shadow: 0px 2px 1px #3c3c3c;
}
/* line 307, sass/screen.sass */
.flexslider .slides .content-wrapper .slider-content p {
  width: 70%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-right: 27.5%;
}
/* line 311, sass/screen.sass */
.flexslider .slides .content-wrapper .slider-content .btn-container {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  display: block;
  height: 0px;
  position: absolute;
  bottom: 180px;
  left: 0;
}
/* line 320, sass/screen.sass */
.flexslider .slides .content-wrapper .slider-content .btn-container .color-btn {
  margin-top: 10px;
}
/* line 323, sass/screen.sass */
.flexslider .slides .content-wrapper .slider-content .btn-container .color-btn.dark {
  background-color: #95a9b4;
}
/* line 326, sass/screen.sass */
.flexslider .flex-control-nav {
  bottom: 17px;
  z-index: 10;
}
/* line 331, sass/screen.sass */
.flexslider .flex-control-nav li a {
  border: 1px solid white;
  background-color: transparent;
  -moz-box-shadow: #c3c5c8 0px 0px 0px;
  -webkit-box-shadow: #c3c5c8 0px 0px 0px;
  box-shadow: #c3c5c8 0px 0px 0px;
}
/* line 336, sass/screen.sass */
.flexslider .flex-control-nav li a.flex-active {
  background-color: #e28330;
  border: 1px solid #e28330;
}

/* line 341, sass/screen.sass */
.home .wrapper > section {
  padding: 60px 0;
}
/* line 343, sass/screen.sass */
.home .process, .home .selling-categories {
  padding: 60px 0;
}
/* line 346, sass/screen.sass */
.home .process .content h2, .home .selling-categories .content h2 {
  margin-top: 0;
}
/* line 348, sass/screen.sass */
.home .process ul, .home .selling-categories ul {
  padding-bottom: 0;
}
/* line 350, sass/screen.sass */
.home .flexslider {
  margin-bottom: 0;
}

/* line 353, sass/screen.sass */
.home .process {
  background-color: #29343d;
}
/* line 356, sass/screen.sass */
.home .middle-content h2 {
  margin-top: 0;
}
/* line 358, sass/screen.sass */
.home .middle-content p {
  margin-bottom: 0;
}
/* line 362, sass/screen.sass */
.home .top-content p:first-child {
  margin-top: 0;
}
/* line 364, sass/screen.sass */
.home .top-content p:last-child {
  margin-bottom: 0;
}
/* line 367, sass/screen.sass */
.home footer.container {
  margin-bottom: 40px;
}

/* line 370, sass/screen.sass */
.process {
  overflow: hidden;
  *zoom: 1;
  color: white;
  padding-top: 10px;
  padding-bottom: 30px;
}
/* line 376, sass/screen.sass */
.process.active {
  padding-bottom: 110px;
}
/* line 380, sass/screen.sass */
.process h2 {
  text-align: center;
}
/* line 383, sass/screen.sass */
.process ul {
  list-style-type: none;
  padding: 0;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
}
/* line 389, sass/screen.sass */
.process ul li {
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 20px;
}
/* line 393, sass/screen.sass */
.process ul li:first-child .count {
  margin-top: 30px;
}
/* line 395, sass/screen.sass */
.process ul li .step {
  width: 70%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  left: 0;
  text-align: left;
  margin-top: 35px;
  display: block;
}
/* line 401, sass/screen.sass */
.process ul li .count {
  width: 20%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  position: relative;
}
/* line 404, sass/screen.sass */
.process ul li .count img {
  width: 100%;
}
/* line 407, sass/screen.sass */
.process ul li .count img.active {
  display: none;
}
/* line 410, sass/screen.sass */
.process ul li .count .arrow {
  position: absolute;
  width: 15px;
  height: auto;
  top: 40%;
  left: -17%;
  display: none;
}
/* line 417, sass/screen.sass */
.process ul li .count .arrow-down {
  display: block;
  width: 20%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}
/* line 423, sass/screen.sass */
.process ul li .process-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* line 428, sass/screen.sass */
.process ul li .process-content {
  font-size: 14px;
}
/* line 434, sass/screen.sass */
.process ul li.active .count img.inactive {
  display: none;
}
/* line 436, sass/screen.sass */
.process ul li.active .count img.active {
  display: block;
}
/* line 439, sass/screen.sass */
.process ul li.active .step {
  display: block;
}

/* line 443, sass/screen.sass */
.owl-theme .owl-controls .owl-buttons div {
  opacity: 1;
}

/* line 445, sass/screen.sass */
.owl-theme .owl-controls {
  margin-top: 0;
}

/* line 448, sass/screen.sass */
.selling-categories {
  background-color: #f7f7f7;
}
/* line 451, sass/screen.sass */
.selling-categories ul {
  list-style-type: none;
  padding: 0 0 30px;
  text-align: center;
  margin: 0;
}
/* line 457, sass/screen.sass */
.selling-categories ul span {
  display: block;
  font-size: 16px;
}
/* line 461, sass/screen.sass */
.selling-categories ul a {
  font-size: 14px;
}
/* line 464, sass/screen.sass */
.selling-categories ul img {
  width: 150px;
}
/* line 467, sass/screen.sass */
.selling-categories ul .owl-buttons {
  position: relative;
  top: -150px;
}
/* line 470, sass/screen.sass */
.selling-categories ul .owl-buttons div.owl-prev, .selling-categories ul .owl-buttons div.owl-next {
  position: absolute;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 38px;
  width: 13px;
}
/* line 478, sass/screen.sass */
.selling-categories ul .owl-buttons .owl-prev {
  left: 0;
  background-image: url(../img/ui/prev.png);
  background-position: left center;
  background-size: 13px 35px;
}
/* line 484, sass/screen.sass */
.selling-categories ul .owl-buttons .owl-next {
  right: 0;
  background-image: url(../img/ui/next.png);
  background-position: right center;
  background-size: 13px 35px;
}

/*---------------- Home Page End --------------- */
/*---------------- Page/Post Start --------------- */
/* line 494, sass/screen.sass */
.header-image {
  max-height: 600px;
  overflow: hidden;
  position: relative;
}
/* line 498, sass/screen.sass */
.header-image img {
  width: 100%;
}

/* Videos */
/* line 502, sass/screen.sass */
.video-wrapper {
  cursor: pointer;
}

/* line 505, sass/screen.sass */
.ui-dialog {
  width: 81.66667% !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
/* line 510, sass/screen.sass */
.ui-dialog .ui-dialog-titlebar {
  background: transparent;
  border: none;
}
/* line 513, sass/screen.sass */
.ui-dialog .ui-dialog-titlebar .ui-button {
  right: -30px;
  top: 2px;
}
/* line 516, sass/screen.sass */
.ui-dialog .ui-dialog-titlebar .ui-button:focus {
  outline: none;
}
/* line 518, sass/screen.sass */
.ui-dialog .ui-dialog-content {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
/* line 525, sass/screen.sass */
.ui-dialog .ui-dialog-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 532, sass/screen.sass */
.play-button {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  background: url(../img/play-button.png) center center no-repeat;
  background-size: 60px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
}

/*---------------- Page/Post End --------------- */
/*---------------- Contact Page Start --------------- */
/* line 549, sass/screen.sass */
#gform_confirmation_message_1 {
  text-align: left;
}

/* line 551, sass/screen.sass */
.gform_wrapper {
  width: 100%;
  margin: 30px 0;
  max-width: 100%;
}
/* line 556, sass/screen.sass */
.gform_wrapper .gfield_label {
  display: none !important;
}
/* line 559, sass/screen.sass */
.gform_wrapper input, .gform_wrapper select, .gform_wrapper option, .gform_wrapper input.medium, .gform_wrapper textarea {
  width: 100% !important;
  padding: 13px;
  box-sizing: border-box;
  height: 50px;
  font-size: 16px;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}
/* line 567, sass/screen.sass */
.gform_wrapper select {
  margin: 10px 0px 20px;
  color: #e28330;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("../img/ui/arrow-down-orange.png");
  background-repeat: no-repeat;
  background-position: right 13px center;
  background-size: 22px 13px;
}
/* line 578, sass/screen.sass */
.gform_wrapper input {
  margin: 10px 0px;
}
/* line 581, sass/screen.sass */
.gform_wrapper .gform_footer {
  margin: 0px;
  padding-top: 10px;
}
/* line 585, sass/screen.sass */
.gform_wrapper .gform_footer .gform_button {
  text-transform: uppercase;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  color: white;
  background-color: #e28330;
  border: none;
  font-size: 18px !important;
}

@-moz-document url-prefix() {
  /* line 594, sass/screen.sass */
  .gform_wrapper select {
    background-image: none;
  }
}
/* line 596, sass/screen.sass */
.validation_error {
  color: #c89797 !important;
}

/*---------------- Contact Page End --------------- */
/*---------------- Tips Page Start --------------- */
/* line 603, sass/screen.sass */
.item img {
  width: 50%;
  margin: 15px 0;
}
/* line 607, sass/screen.sass */
.item .item-content {
  margin: 15px 2.5% 30px;
}
/* line 609, sass/screen.sass */
.item .item-content ul {
  font-size: 14px;
}

/*---------------- Tips Page End --------------- */
/*---------------- How To B2Buy Page Start --------------- */
/* line 619, sass/screen.sass */
.page-template-how-to-b2buy-php .middle-content {
  padding: 0;
}

/* line 623, sass/screen.sass */
.how-to {
  background-color: #313e48;
  color: white;
  margin-top: -30px;
}
/* line 627, sass/screen.sass */
.how-to .wrapper {
  padding: 50px 0;
}
/* line 629, sass/screen.sass */
.how-to .dark {
  background-color: #29343d;
}
/* line 632, sass/screen.sass */
.how-to .icon {
  width: 45%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-left: 27.5%;
  margin-right: 27.5%;
  text-align: center;
}
/* line 638, sass/screen.sass */
.how-to .icon img {
  width: 100%;
  margin: 15px 0;
}
/* line 642, sass/screen.sass */
.how-to .hcontent {
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
}
/* line 646, sass/screen.sass */
.how-to .hcontent ul {
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-position: inside;
  padding-left: 0px;
}
/* line 654, sass/screen.sass */
.how-to .hcontent ul li {
  padding: 5px 0;
}
/* line 657, sass/screen.sass */
.how-to .screenshot {
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
/* line 660, sass/screen.sass */
.how-to .screenshot img {
  width: 100%;
}
/* line 663, sass/screen.sass */
.how-to .bottom {
  padding-top: 30px;
  text-align: center;
}

/*---------------- How To B2Buy Page End --------------- */
@media print {
  /* line 1, sass/views/_print.sass */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 8, sass/views/_print.sass */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 13, sass/views/_print.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 17, sass/views/_print.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Don't show links for images, or javascript/internal links
   */
  /* line 25, sass/views/_print.sass */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 31, sass/views/_print.sass */
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 37, sass/views/_print.sass */
  thead {
    display: table-header-group;
  }

  /* line 41, sass/views/_print.sass */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 45, sass/views/_print.sass */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 53, sass/views/_print.sass */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 59, sass/views/_print.sass */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media only screen and (min-width: 600px) {
  /*---------------- Tips Page Start --------------- */
  /* line 2, sass/views/_600.sass */
  .item {
    width: 48.33333%;
    float: left;
  }
  /* line 63, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-2.1.1/sass/susy/language/susy/_gallery.scss */
  .item:nth-child(2n + 1) {
    margin-left: 0.83333%;
    margin-right: -100%;
    clear: both;
  }
  /* line 63, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-2.1.1/sass/susy/language/susy/_gallery.scss */
  .item:nth-child(2n + 2) {
    margin-left: 50.83333%;
    margin-right: -100%;
    clear: none;
  }
  /* line 5, sass/views/_600.sass */
  .item.single {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 8, sass/views/_600.sass */
  .item.single img {
    width: 35%;
  }
  /* line 11, sass/views/_600.sass */
  .item.single h3 {
    width: 65%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-left: 17.5%;
    margin-right: 17.5%;
  }
  /* line 15, sass/views/_600.sass */
  .item.single .item-content {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 19, sass/views/_600.sass */
  .item.single .item-content ul li {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-bottom: 5px;
  }

  /*---------------- Tips Page End --------------- */
  /* line 28, sass/views/_600.sass */
  .ticker .title {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  /*---------------- Global Styles Start --------------- */
  /* line 3, sass/views/_768.sass */
  body {
    color: #313e48;
  }
  /* line 6, sass/views/_768.sass */
  body.open {
    overflow: hidden;
  }

  /* line 9, sass/views/_768.sass */
  .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
  }
  /* line 12, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
  .container::after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 13, sass/views/_768.sass */
  .content {
    width: 81.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-left: 9.16667%;
    margin-right: 9.16667%;
  }

  /* line 19, sass/views/_768.sass */
  .page-id-23 .content {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 22, sass/views/_768.sass */
  .page-id-23 .content .contact-info {
    text-align: left;
  }
  /* line 27, sass/views/_768.sass */
  .page-id-23 h2 {
    font-size: 36px;
  }
  /* line 30, sass/views/_768.sass */
  .page-id-23 h3 {
    font-size: 18px;
  }

  /* line 33, sass/views/_768.sass */
  .middle-content {
    text-align: center;
  }

  /* line 37, sass/views/_768.sass */
  a.color-btn {
    display: inline-block;
    width: auto;
    float: none;
  }

  /* line 42, sass/views/_768.sass */
  p {
    font-size: 14px;
    font-weight: 500;
  }
  /* line 45, sass/views/_768.sass */
  p.featured {
    font-size: 18px;
  }

  /*---------------- Global Styles End --------------- */
  /*---------------- Header Styles Start --------------- */
  /* line 51, sass/views/_768.sass */
  #main-header {
    overflow: hidden;
    *zoom: 1;
    height: 85px;
  }

  /* line 55, sass/views/_768.sass */
  #mobile-menu-icon {
    display: none;
  }

  /* line 58, sass/views/_768.sass */
  .social-media {
    text-align: right;
  }
  /* line 60, sass/views/_768.sass */
  .social-media img {
    width: 26px;
    height: 26px;
    margin: 5px;
  }

  /* line 66, sass/views/_768.sass */
  #branding {
    width: 15%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 68, sass/views/_768.sass */
  #branding a {
    display: block;
    text-align: left;
  }
  /* line 71, sass/views/_768.sass */
  #branding a img {
    padding: 20px 0;
    width: 120px;
    height: auto;
  }

  /* line 76, sass/views/_768.sass */
  #main-menu {
    width: 81.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    display: block;
    position: relative;
    z-index: 100;
    background-color: transparent;
    height: 100%;
    top: initial;
    left: initial;
    bottom: initial;
    right: initial;
  }
  /* line 89, sass/views/_768.sass */
  #main-menu .menu-container {
    position: relative;
    width: 75%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    top: initial;
    bottom: initial;
    overflow: auto;
  }
  /* line 96, sass/views/_768.sass */
  #main-menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 105, sass/views/_768.sass */
  #main-menu .header-menu li {
    float: left;
    padding: 31px 12px;
  }
  /* line 108, sass/views/_768.sass */
  #main-menu .header-menu li.current_page_item {
    background-color: transparent;
  }
  /* line 110, sass/views/_768.sass */
  #main-menu .header-menu li.current_page_item a {
    color: #e28330;
  }
  /* line 112, sass/views/_768.sass */
  #main-menu .header-menu li a {
    text-transform: uppercase;
    color: #313e48;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  /* line 119, sass/views/_768.sass */
  #main-menu footer {
    width: 18%;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    min-width: 122px;
    position: relative;
    bottom: initial;
    padding: 24px 0;
  }
  /* line 125, sass/views/_768.sass */
  #main-menu footer .copyright {
    display: none;
  }
  /* line 127, sass/views/_768.sass */
  #main-menu footer .menu-footer-menu-container {
    display: none;
  }

  /* line 131, sass/views/_768.sass */
  .header-image .content-wrapper {
    top: 95px;
  }
  /* line 134, sass/views/_768.sass */
  .header-image .content-wrapper h2 {
    width: 81.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    font-size: 48px;
    line-height: 62px;
  }
  /* line 138, sass/views/_768.sass */
  .header-image .content-wrapper p {
    clear: left;
    width: 40%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    font-size: 18px;
  }

  /*---------------- Header Styles End --------------- */
  /*---------------- Footer Styles Start --------------- */
  /* line 147, sass/views/_768.sass */
  footer {
    font-size: 14px;
  }
  /* line 149, sass/views/_768.sass */
  footer .inner {
    overflow: hidden;
    *zoom: 1;
    padding-top: 30px;
    width: 470px;
    margin: 0 auto;
  }
  /* line 155, sass/views/_768.sass */
  footer ul li {
    font-size: 14px;
  }

  /* line 157, sass/views/_768.sass */
  .footer-left {
    overflow: hidden;
    *zoom: 1;
    width: 100%;
  }
  /* line 160, sass/views/_768.sass */
  .footer-left .copyright {
    float: left;
    border-right: 1px solid #313e48;
    padding: 0px 6px;
  }
  /* line 164, sass/views/_768.sass */
  .footer-left .menu-footer-menu-container {
    float: left;
  }

  /*---------------- Footer Styles End --------------- */
  /*---------------- Home Page Start --------------- */
  /* Slider */
  /* line 176, sass/views/_768.sass */
  .flexslider .slides .content-wrapper {
    padding-top: 95px;
  }
  /* line 181, sass/views/_768.sass */
  .flexslider .slides .content-wrapper .slider-content h2 {
    width: 81.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    font-size: 48px;
    line-height: 62px;
  }
  /* line 185, sass/views/_768.sass */
  .flexslider .slides .content-wrapper .slider-content p {
    clear: left;
    width: 40%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    font-size: 18px;
  }
  /* line 190, sass/views/_768.sass */
  .flexslider .slides .content-wrapper .slider-content .btn-container {
    position: relative;
    float: left;
    bottom: 0;
  }
  /* line 194, sass/views/_768.sass */
  .flexslider .slides .content-wrapper .slider-content .btn-container .color-btn {
    width: auto;
    font-size: 18px;
    float: left;
    position: relative;
    margin: 20px 10px;
    margin-left: 0.83333%;
  }

  /* line 202, sass/views/_768.sass */
  .process {
    overflow: hidden;
    *zoom: 1;
    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  /* line 208, sass/views/_768.sass */
  .process.active {
    padding-bottom: 30px;
  }
  /* line 212, sass/views/_768.sass */
  .process h2 {
    text-align: center;
  }
  /* line 215, sass/views/_768.sass */
  .process ul {
    list-style-type: none;
    padding: 0;
    position: relative;
  }
  /* line 220, sass/views/_768.sass */
  .process ul li {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-bottom: 0;
  }
  /* line 224, sass/views/_768.sass */
  .process ul li:first-child .count {
    margin-top: 0;
  }
  /* line 226, sass/views/_768.sass */
  .process ul li .step {
    position: relative;
    width: 100%;
    float: none;
    text-align: center;
  }
  /* line 231, sass/views/_768.sass */
  .process ul li .count {
    width: 100%;
    float: none;
  }
  /* line 234, sass/views/_768.sass */
  .process ul li .count img {
    width: 60%;
    margin: 0 auto;
  }
  /* line 238, sass/views/_768.sass */
  .process ul li .count img.inactive {
    display: block;
  }
  /* line 241, sass/views/_768.sass */
  .process ul li .count .arrow {
    top: 40%;
    left: -15px;
    display: block;
  }
  /* line 245, sass/views/_768.sass */
  .process ul li .count .arrow-down {
    display: none;
  }

  /*---------------- Home Page End --------------- */
  /*---------------- Tips Page Start --------------- */
  /* line 251, sass/views/_768.sass */
  .item {
    width: 31.66667%;
    float: left;
  }
  /* line 63, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-2.1.1/sass/susy/language/susy/_gallery.scss */
  .item:nth-child(3n + 1) {
    margin-left: 0.83333%;
    margin-right: -100%;
    clear: both;
  }
  /* line 63, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-2.1.1/sass/susy/language/susy/_gallery.scss */
  .item:nth-child(3n + 2) {
    margin-left: 34.16667%;
    margin-right: -100%;
    clear: none;
  }
  /* line 63, ../../../../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-2.1.1/sass/susy/language/susy/_gallery.scss */
  .item:nth-child(3n + 3) {
    margin-left: 67.5%;
    margin-right: -100%;
    clear: none;
  }
  /* line 254, sass/views/_768.sass */
  .item.single img {
    width: 130px;
  }

  /*---------------- Tips Page End --------------- */
  /*---------------- Contact Page Start --------------- */
  /* line 259, sass/views/_768.sass */
  .contact-info {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-top: 20px;
  }

  /* line 263, sass/views/_768.sass */
  .gform_wrapper {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-top: 10px;
    position: relative;
    height: 410px;
  }
  /* line 269, sass/views/_768.sass */
  .gform_wrapper .gform_button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: auto !important;
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 277, sass/views/_768.sass */
  .gform_wrapper .left_half {
    width: 31.11111%;
    float: left;
    margin-left: 1.11111%;
    margin-right: 1.11111%;
    float: left;
    clear: left !important;
  }
  /* line 282, sass/views/_768.sass */
  .gform_wrapper .right_half {
    width: 64.44444%;
    position: absolute;
    right: 0;
    top: 10px;
  }
  /* line 288, sass/views/_768.sass */
  .gform_wrapper .right_half textarea {
    height: 300px;
  }

  /*---------------- Contact Page End --------------- */
  /*---------------- How To B2Buy Page Start --------------- */
  /* line 297, sass/views/_768.sass */
  .page-template-how-to-b2buy-php .middle-content {
    padding: 0;
  }

  /* line 301, sass/views/_768.sass */
  .how-to {
    background-color: #313e48;
    color: white;
  }
  /* line 305, sass/views/_768.sass */
  .how-to .dark {
    background-color: #29343d;
  }
  /* line 308, sass/views/_768.sass */
  .how-to .icon {
    width: 15%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    text-align: center;
  }
  /* line 312, sass/views/_768.sass */
  .how-to .icon img {
    width: 100%;
    margin: 15px 0;
  }
  /* line 316, sass/views/_768.sass */
  .how-to .hcontent {
    width: 40%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-right: 9.16667%;
    text-align: left;
  }
  /* line 321, sass/views/_768.sass */
  .how-to .hcontent ul {
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 327, sass/views/_768.sass */
  .how-to .hcontent ul li {
    padding: 5px 0;
  }
  /* line 330, sass/views/_768.sass */
  .how-to .screenshot {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  /* line 333, sass/views/_768.sass */
  .how-to .screenshot img {
    width: 100%;
  }
  /* line 336, sass/views/_768.sass */
  .how-to .bottom {
    padding-top: 30px;
  }

  /*---------------- How To B2Buy Page End --------------- */
}
/* Retina Displays */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 21, sass/main.sass */
  .social-media {
    margin-top: -20px;
  }

  /* line 25, sass/main.sass */
  #main-menu .menu-container {
    margin-top: -50px;
  }
}
/* line 28, sass/main.sass */
.ie .social-media {
  margin-top: -20px;
}
/* line 32, sass/main.sass */
.ie #main-menu .menu-container {
  margin-top: -50px;
}
